body{
	/*overflow: hidden;*/
}
.celestialbodies{
	z-index: -100000;
	background:black;
	margin-left: -10px;
	margin-top: -10px;
	position: fixed;
}
.celestialbodies div{
	z-index: -1000000;
}
#myName{
	background: rgba(168, 106, 106, 0.52);
	color: rgb(232, 219, 219);
	font-size: 92px;
	padding: 5%;
	transform: translateY(244px);
}
