<!DOCTYPE html>
<html>
<head>
   <title></title>
   <link href="aca/aca.css" rel="stylesheet">
</head>
<body>
   <div id="overflow-controller" style="margin-top: -320px; padding-top: 160px; height: 3460px;">
      <div id="shape-1" class="outer right ui-edge shape-color-cranberry-red" data-content-id="block-voicesblock" style="margin-top: 0px;">
         <div id="inner_shape-1" class="inner parallax" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1357px; background-image: url(https://www.accenture.com/t20150618T220008w793/in-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Homepage/1/Accenture-Ellyn2-v2-module.jpg); background-size: cover; background-position: 100% -109px;"></div>
      </div>
      <div id="shape-2" class="outer right ui-delta shape-color-periwinkle-blue" data-content-id="block-ournewsite" style="margin-top: -164px;">
         <div id="inner_shape-2" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1398px;"></div>
      </div>
      <div id="shape-3" class="outer left ui-edge shape-color-white" data-content-id="block-connections" style="margin-top: -324px;">
         <div id="inner_shape-3" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1228px;"></div>
      </div>
      <div id="shape-4" class="outer left ui-edge shape-color-full-black" data-content-id="block-footer" style="margin-top: -164px;">
         <div id="inner_shape-4" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 769px;"></div>
      </div>
      <div id="shape-1" class="outer right ui-edge shape-color-cranberry-red" data-content-id="block-voicesblock" style="margin-top: 0px;">
         <div id="inner_shape-1" class="inner parallax" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1357px; background-image: url(file://www.accenture.com/t20150618T220008w793/in-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Homepage/1/Accenture-Ellyn2-v2-module.jpg); background-size: cover; background-position: 100% 50%;"></div>
      </div>
      <div id="shape-2" class="outer right ui-delta shape-color-periwinkle-blue" data-content-id="block-ournewsite" style="margin-top: -164px;">
         <div id="inner_shape-2" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1398px;"></div>
      </div>
      <div id="shape-3" class="outer left ui-edge shape-color-white" data-content-id="block-connections" style="margin-top: -324px;">
         <div id="inner_shape-3" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 1228px;"></div>
      </div>
      <div id="shape-4" class="outer left ui-edge shape-color-full-black" data-content-id="block-footer" style="margin-top: -164px;">
         <div id="inner_shape-4" class="inner" style="padding-top: 160px; padding-bottom: 160px; margin-top: -160px; height: 769px;"></div>
      </div>
   </div>
</body>
</html>


