<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="744.09448819"
   height="1052.3622047"
   id="svg3375"
   sodipodi:version="0.32"
   inkscape:version="0.46+pre4"
   sodipodi:docname="rays.svg"
   inkscape:output_extension="org.inkscape.output.svg.inkscape">
  <defs
     id="defs3377">
    <inkscape:perspective
       sodipodi:type="inkscape:persp3d"
       inkscape:vp_x="0 : 526.18109 : 1"
       inkscape:vp_y="0 : 1000 : 0"
       inkscape:vp_z="744.09448 : 526.18109 : 1"
       inkscape:persp3d-origin="372.04724 : 350.78739 : 1"
       id="perspective3383" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     gridtolerance="10000"
     guidetolerance="10"
     objecttolerance="10"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="-45"
     inkscape:cy="520"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1280"
     inkscape:window-height="975"
     inkscape:window-x="-4"
     inkscape:window-y="-4" />
  <metadata
     id="metadata3380">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <path
       style="fill:#d4aa00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:12.8161068;stroke-linecap:butt;stroke-linejoin:round;marker:none;marker-start:none;marker-mid:none;marker-end:none;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       d="M 436.2086,562.43391 C 447.4994,570.4559 658.37763,573.41296 675.9385,567.58342 C 678.25848,566.81331 681.25732,560.23108 676.34708,557.63736 C 659.1926,548.57611 471.71389,543.53361 440.93777,548.11896 C 432.34478,549.39916 429.19326,557.4496 436.2086,562.43391 z"
       id="path3561"
       sodipodi:nodetypes="cssss" />
    <path
       sodipodi:nodetypes="cssss"
       id="path3563"
       d="M 283.79137,562.43391 C 272.50069,570.4559 61.622429,573.41296 44.06154,567.58342 C 41.741551,566.81331 38.742708,560.23108 43.652935,557.63736 C 60.807373,548.57611 248.2862,543.53361 279.06219,548.11896 C 287.65518,549.39916 290.8067,557.4496 283.79137,562.43391 z"
       style="fill:#d4aa00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:12.8161068;stroke-linecap:butt;stroke-linejoin:round;marker:none;marker-start:none;marker-mid:none;marker-end:none;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <path
       style="fill:#d4aa00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:12.8161068;stroke-linecap:butt;stroke-linejoin:round;marker:none;marker-start:none;marker-mid:none;marker-end:none;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       d="M 353.12117,483.24703 C 345.4921,471.68703 349.78847,260.83182 356.21845,243.48176 C 357.06785,241.18972 363.74933,238.41901 366.1727,243.4155 C 374.63862,260.87142 373.23112,448.41272 367.59021,479.01284 C 366.01534,487.5567 357.86124,490.42956 353.12117,483.24703 z"
       id="path3565"
       sodipodi:nodetypes="cssss" />
    <path
       sodipodi:nodetypes="cssss"
       id="path3567"
       d="M 410.55809,493.49556 C 413.33762,479.92689 565.47282,333.86761 582.2877,326.14603 C 584.50912,325.126 591.19276,327.8912 589.37336,333.13786 C 583.01648,351.46746 449.40939,483.08388 423.78321,500.73268 C 416.62812,505.66048 408.8308,501.92613 410.55809,493.49556 z"
       style="fill:#d4aa00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:12.8161068;stroke-linecap:butt;stroke-linejoin:round;marker:none;marker-start:none;marker-mid:none;marker-end:none;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
    <path
       style="fill:#d4aa00;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:12.8161068;stroke-linecap:butt;stroke-linejoin:round;marker:none;marker-start:none;marker-mid:none;marker-end:none;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;visibility:visible;display:inline;overflow:visible;enable-background:accumulate"
       d="M 310.23235,500.36128 C 307.45269,486.7926 155.31762,340.73333 138.50261,333.01175 C 136.28119,331.99172 129.59756,334.75691 131.41696,340.00358 C 137.77384,358.33318 271.38093,489.94959 297.0071,507.5984 C 304.16219,512.5262 311.95951,508.79184 310.23235,500.36128 z"
       id="path3569"
       sodipodi:nodetypes="cssss" />
  </g>
</svg>
